<div class="container-fluid">
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="logo pull-left"><!-- <img src="/img/logo.png" alt="Main Logo"/> --></a>
				<div class="row-fluid">
					{{ App_Block_Flow_Nav | default('<!-- here should be the Block\Flow\Nav -->') | raw }}
					{{ App_Block_Flow_Login | default('<!-- here should be the Block\Flow\Login -->') | raw }}
				</div>
			</div>
		</div>
	</div>
	{% block head %}<h1 id="body-title">Hello, World!</h1>{% endblock %}
	<div id="body-content">
		{% block content %}{% endblock %}
	</div>
</div>
