<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    {{ App_Block_Head | default('<!-- here should be the Block\Head -->') | raw }}
</head>
<body>
{{ html_body | raw }}
</body>
</html>
