{# empty Twig template #}
<div class="container-fluid">
	<form class="form-horizontal" action="/block/auth/reg" method="post">
		<fieldset>
			<legend>Legend text</legend>
			<div class="control-group">
				<label class="control-label" for="input01">Логін</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01">
					<p class="help-block">Вкажіть логін, який буде використовуватись для входу</p>
				</div>
			</div>
		</fieldset>
	</form>
</div>