{% extends "auth/__default.twig" %}
{% block content %} 
<form class="form-signin">
	<h2 class="form-signin-heading">Представляємось</h2>
    <input type="text" name="login" class="input-block-level" placeholder="Login">
    <input type="password" name="password" class="input-block-level" placeholder="Password">
	<!--<label class="checkbox">
		<input type="checkbox" value="remember-me"> Remember me
	</label>-->
	<button class="btn btn-large btn-primary" type="submit">Увійти</button>
</form>
{% endblock %}