{% extends "auth/__default.twig" %}
{% block content_auth %}
<form class="form-auth-reg form-horizontal" action="/auth/reg" method="post" autocomplete="off">
    <fieldset>
        <legend>Реєстрація</legend>
        <div class="control-group">
            <label class="control-label" for="login">Логін</label>
            <div class="controls">
                <input name="login" type="text" class="input-xlarge" id="login" value="someLogin"/>
                <p class="help-block">Вкажіть логін, який буде використовуватись для входу</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Пароль</label>
            <div class="controls">
                <input name="password" type="password" class="input-xlarge" id="password" value="somePwd"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password_repeat">Пароль повторно</label>
            <div class="controls">
                <input name="password_repeat" type="password" class="input-xlarge" id="password_repeat" value="somePwd"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="email">Email</label>
            <div class="controls">
                <input name="email" type="text" class="input-xlarge" id="email" placeholder="Email" value="example@example.com"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="username">Username</label>
            <div class="controls">
                <input name="username" type="text" class="input-xlarge" id="email" placeholder="Username" value="User Userovich"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input value="Зареєструватись" type="submit" class="btn btn-large btn-primary" />
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}