{% extends "gallery/__default.twig" %}
{% block content_gallery %}
    <div class="list">
        {% for Album in Albums %}
            <div class="">
                <h3><a href="/gallery/{{ Album.albumId }}">{{ Album.title }}</a></h3>
            </div>
        {% endfor %}
    </div>
{% endblock %}
