{% extends "gallery/__default.twig" %}
{% block content_gallery %}
    <div class="list">
        {% for album in Albums %}
            <div class="">
                <h3><a href="/gallery/{{ album.getId() }}">{{ album.getTitle() }}</a></h3>
            </div>
        {% endfor %}
    </div>
{% endblock %}
