/**
* @outputFile ../public_html/css/main.css
*/

body {
	padding-top: 60px;
	padding-bottom: 40px;

	#body-head {

		#topbar {
			min-width: 1000px;
			max-width: 1240px;
			margin: 0 auto;

			input {
				padding-top: 1px;
				padding-bottom: 1px;
			}
		}
	}

	#body-content {
		max-width: 1230px;
		min-width: 1000px;
		margin: 0 auto;
	}
}

a.logo {
	border:10px;
	margin: 20px 1px;

}
