/**
* @outputFile ../public_html/css/main.css
*/
body {
  padding-top: 60px;
  padding-bottom: 40px; }
  body #topbar {
    width: 1240px;
    margin: 0 auto; }
  body #body-content {
    width: 1230px;
    margin: 0 auto; }

a.logo {
  margin: 20px 1px; }
