/**
* @outputFile ../public_html/css/main.css
*/
body {
  padding-top: 100px;
  padding-bottom: 40px;
}

a.logo {
  margin: 20px 0;
}

#top-user {
	
}
/*#top-user a:hover {
    text-decoration: none;
    color: #d9edf7;
}*/
